@import url('http://fonts.googleapis.com/css?family=PT+Serif');

body {
	font-family: 'T Serif', 'Helvetica Neue','Helvetica',sans-serif;
	font-weight: 300;
	font-size: 16px;
	background-size: contain;
	background-attachment: fixed;

}

@media screen and (min-width: 992px) {
    body {
    	background-color: #FAFAFA;
    	background-repeat: no-repeat;
    }

  }

#svg1 {
	margin-left: 50px;
	margin-top: 50px;
	width: 400px;
  	height: 400px;
}

#svg2 {
	width: 400px;
  	height: 400px;
}

#top-content {
	position: relative;
	height: 550px;
	background-color: #DCDCDC;
}

#title-box {
	font-family: "chaparral pro";
	display: inline-block;
  	vertical-align: top;
}

span {
	display: block;
	width: 285px;
  	height: 40px;
  	padding-top: 3px;
  	background: #d74523;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	font-size: 25px;
	text-align: center;
	letter-spacing: 3px;
}

#art-box{
	display: block;
	width: 810px;
	height: 45px;
	padding-top: 5px;
    background: lightgrey;
    margin-left: 285px;
    margin-top: -45px;
    margin-right: 0px;

}

#top-content{
	height: 35px;
	background-color: '#f2dcc9';
    margin-left: 100px;
    margin-right: 83px;
    background-size: 100% 100%;
    background-image: url("../data/ricepaper_v3.png");
}

#write-up {
	margin-top: 70px;
	margin-bottom: 100px;
	margin-left: 100px;
	margin-right: 50%;
}



li {

	font-size: 12px;
}

.path { 
    stroke: grey;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.y{
	font-family: 'PT Serif', 'Helvetica Neue','Helvetica',sans-serif;
	font-size: 1em;
	color: D74523;
}

.tick {
	font-family: 'PT Serif', 'Helvetica Neue','Helvetica',sans-serif;
	font-size: 1em;
}

.axis {
	stroke: grey;
	color: D74523;
}