@import url('http://fonts.googleapis.com/css?family=PT+Serif');

body {
	font-family: 'T Serif', 'Helvetica Neue','Helvetica',sans-serif;
	font-weight: 300;
	opacity: 0.9;
	font-size: 16px;


}
#svg1 {
	margin-left: 50px;
	margin-top: 50px;
	width: 400px;
  	height: 400px;
}

#svg2 {
	width: 400px;
  	height: 400px;
}


#top-content {
	position: relative;
	height: 550px;
	background-color: #DCDCDC;
}

#title-box {
	font-family: "chaparral pro";
	display: inline-block;
  	vertical-align: top;
}
span {
	display: block;
	width: 285px;
  	height: 40px;
  	padding-top: 3px;
  	background: #d74523;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	font-size: 25px;
	text-align: center;
	letter-spacing: 3px;
}
#art-box{
	display: block;
	width: 810px;
	height: 45px;
	padding-top: 5px;
    background: lightgrey;
    margin-left: 285px;
    margin-top: -45px;
    margin-right: 0px;

}
#top-content{
	height: 35px;
	background-color: '#f2dcc9';
    margin-left: 100px;
    margin-right: 83px;

}

@media screen and (min-width: 992px) {
    body {
	background-image: url("data/ReDesignPhoto_1.png");
    }
  }

.path { 
    stroke: grey;
    stroke-width: 2;
    fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
    width: 600px;
  	height: 600px;
}

.tick {
	font-family: 'PT Serif', 'Helvetica Neue','Helvetica',sans-serif;
	font-size: 1em;
}

.axis {
	stroke: grey;
	color: D74523;
}